{% extends 'account/base.html' %}
{% load static %}
{% load django_htmx %}
{% load i18n %}
{% load account socialaccount %}

{% block title %}<h1>{% trans "Sign Up" %}{% endblock %}</h1>

{% block account_content %}

  {% if form.non_field_errors %}
    <div>{{ form.non_field_errors }}</div>
  {% endif %}

  <form method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% trans "Sign Up" %}</button>
  </form>

  <hr />

  {% include "socialaccount/snippets/provider_list.html" with process="signup" %}

  <p>
    {% trans "Already have an account?" %}
    <a href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
  </p>
{% endblock %}
