annotated-types==0.7.0
anyascii==0.3.3
asgiref==3.9.1
babel==2.17.0
beautifulsoup4==4.14.2
black==25.9.0
certifi==2025.10.5
cfgv==3.4.0
charset-normalizer==3.4.4
click==8.3.0
defusedxml==0.7.1
distlib==0.4.0
django==5.2.6
django-allauth==65.13.0
django-crm==0.9.0
django-environ==0.12.0
django-extra-views==0.16.0
django-filter==25.1
django-haystack==3.3.0
django-htmx==1.26.0
django-modelcluster==6.4
django-ninja==1.4.5
django-oscar==4.1
django-permissionedforms==0.1
django-phonenumber-field==8.3.0
django-stubs-ext==5.2.7
django-tables2==2.7.0
django-taggit==6.1.0
django-tasks==0.8.1
django-treebeard==4.7.1
django-widget-tweaks==1.5.0
djangorestframework==3.16.1
djhtml==3.0.10
draftjs-exporter==5.1.0
et-xmlfile==2.0.0
factory-boy==3.3.3
faker==37.12.0
filelock==3.20.0
filetype==1.2.0
identify==2.6.15
idna==3.11
laces==0.1.2
markdown==3.9
modelsearch==1.1
mypy-extensions==1.1.0
nodeenv==1.9.1
openpyxl==3.1.5
packaging==25.0
pathspec==0.12.1
phonenumbers==9.0.14
pillow==11.3.0
pillow-heif==1.1.1
platformdirs==4.5.0
pre-commit==4.3.0
prettier==0.0.7
psycopg2-binary==2.9.10
purl==1.6
pydantic==2.12.4
pydantic-core==2.41.5
pytokens==0.2.0
pyyaml==6.0.2
requests==2.32.5
ruff==0.14.3
six==1.17.0
soupsieve==2.8
sqlparse==0.5.3
telepath==0.3.1
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.35.4
wagtail==7.2
willow==1.12.0
